* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica,bold;
  font-size: 10px;
  color:black;
  line-height: normal;
  background-color: #e3e6e7;
  margin-left: 300px;
  opacity: 1;
  transition: 1s;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/*----------------------------------*/

.fixed{
  font-size: 8vh;
  color: orange;
  position: fixed;
  top:1vh;
  left:3vh;
}



.title{
  font-family:arial;
  color: orange;
  position: fixed;
  top:1vh;
  left:3vh;
  margin-left:150px;
  font-size:70px;
}

.hidden{
  visibility: hidden;
}
/*effects*/

img:hover {
  width: 10%;
  transition: 2s;
}

/*----------------------------------*/

.navi{
  position: fixed;
  top:18vh;
  left:14vh;
}

.navi:hover{
  background-color: blue;
  left:15vh;
}

/*row&coloum*/
.row{
  display:flex;
  flex-wrap:wrap;
  align-items: flex-start;
}

.align__bottom{
  align-items:flex-end;
}

.col__1of3{
  flex:0 0 33.333%;
}

.col__2of3{
  flex:0 0 66.666%;
}

.col__3of3{
  flex:0 0 25%;
}

.content{
  padding:5px;
  margin:5px;
}

.content img{
  width:100%;
}
/*----------------------------------*/

::selection {
  background: white;
  /* WebKit/Blink Browsers */
}
