* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color:#1e2841;
  line-height: normal;
  background-color: #e3e6e7;
  margin-left: 25vw;
  opacity:1;
  transition: 1s;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/*----------------------------------*/

a {
  color: black;
  text-decoration: none;
}

a:hover{
  color:black;
  text-decoration: underline;
}

.fixed{
  position: fixed;
  top:1vh;
  left:3vh;
}

img .fixed{
  cursor:pointer;
}

.description{
  position: fixed;
}

.title{
  font-family:arial;
  color: orange;
  position: fixed;
  top:1vh;
  left:3vh;
  margin-left:150px;
  font-size:70px;
}


/*effects*/

/*----------------------------------*/

.navi{
  position: fixed;
  top:18vh;
  left:14vh;
}

.navi:hover{
  background-color: blue;
  left:15vh;
}

/*row&coloum*/
.row{
  display:flex;
  flex-wrap:wrap;
  align-items: flex-start;
}

.align__bottom{
  align-items:flex-end;
}

.col__100{
  flex:0 0 100%;
}

.col__33{
  flex:0 0 33.333%;
}

.col__66{
  flex:0 0 66.666%;
}

.col__50{
  flex:0 0 50%;
}

.col__25{
  flex:0 0 25%;
}

.col__75{
  flex:0 0 75%;
}


.content{
  padding:5px;
  margin:5px;
}

.content img{
  width:100%;

}

/*caption*/
.caption span {
  display: none;
  position: fixed;
  text-align: left;
  left: 5vw;
  right:5vw;
  bottom: 3vh;
  padding: 5px;
  font-size: 3rem;
}

.thumb img{
  cursor:pointer;
  -webkit-transition: all .5s ease-in-out;
}

.thumb img:hover{
  -webkit-transform: scale(1.01);
}
/*----------------------------------*/
.title{
    position:fixed;
    z-index:1000;
    top:50%;
    bottom:50%;
    right:50%;
    left:50%;
    width:100px;
    border-radius:5px;
    background:red;
}
/*----------------------------------*/
::selection {
  background: white;
  /* WebKit/Blink Browsers */
}
