* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  line-height: normal;
  background-color: #dd7c6b;
  margin:4vh;
  opacity:1;
  transition: 1s;
  animation: colorchange 160s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 160s; /* Chrome and Safari */
}

.text{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 24px;
}

@keyframes colorchange
{
  0%   {background: #dd7c6b;}
  5%   {background: #e5a80f;}
  10%  {background: #689b56;}
  15%  {background: #de8f3d;}
  20%  {background: #689b56;}
  25%  {background: #dd7c6b;}
  30%  {background: #e5a80f;}
  35%  {background: #dd8e3d;}
  40%  {background: #de8f3d;}
  45%  {background: #689b56;}
  50%  {background: #e5a80f;}
  55%  {background: #dd7c6b;}
  60%  {background: #689b56;}
  65%  {background: #de8f3d;}
  70%  {background: #dd8e3d;}
  75%  {background: #e5a80f;}
  80%  {background: #689b56;}
  85%  {background: #de8f3d;}
  90%  {background: #689b56;}
  95%  {background: #e5a80f;}
  100% {background: #dd7c6b;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #dd7c6b;}
  5%   {background: #e5a80f;}
  10%  {background: #689b56;}
  15%  {background: #de8f3d;}
  20%  {background: #689b56;}
  25%  {background: #dd7c6b;}
  30%  {background: #e5a80f;}
  35%  {background: #dd8e3d;}
  40%  {background: #de8f3d;}
  45%  {background: #689b56;}
  50%  {background: #e5a80f;}
  55%  {background: #dd7c6b;}
  60%  {background: #689b56;}
  65%  {background: #de8f3d;}
  70%  {background: #dd8e3d;}
  75%  {background: #e5a80f;}
  80%  {background: #689b56;}
  85%  {background: #de8f3d;}
  90%  {background: #689b56;}
  95%  {background: #e5a80f;}
  100% {background: #dd7c6b;}
}


body.fade-out {
    opacity: 0;
    transition: none;
}

.right {
  color: white;
  font-size: 30px;
  position: fixed;
  align:right;
  top:4vh;
  right:4vh;
}

.webtitle{
  position: fixed;
  font-size: 30px;
  font-weight:900;
  top:4vh;
  left:4vh;
}

.wrapper{
 margin: 4vh;
 margin-top: 16vh;
}

.foot{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 100;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

a:hover{
<<<<<<< HEAD
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.fadein{
  opacity: 0;
=======
  color:white;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: dashed;
>>>>>>> e19df173e0d227ed89b057e889c28a5d912fe763
}

img {
  width:80%;
  position: relative;
}

.row{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}

.align__bottom{
  lign-items:center;
}

.col__3{
  flex:0 0 50%;

}

.content{
  padding:20px;
  margin:10px;
  background-color: white;
}

.content img{
  width:100%;
}


/*img on hover b&w*

    .thumbnailwrapper{
      height:60vh;
      width:80vw;
      overflow:hidden;
      cursor:pointer;
      margin-bottom: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .thumbnailwrapper img {
      width:80%;
      position: relative;
      /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary
        -webkit-transition: all .5s ease-in-out;
    }

    .thumbnailwrapper img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }

*/
