* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  line-height: normal;
  background-color: #dddddd;
  margin:2vh;
  opacity:1;
  transition: 1s;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.right {
  font-size: 30px;
  position: fixed;
  align:right;
  top:2vh;
  right:4vh;
}

.navi{
  position: fixed;
  top:2vh;
  left:2vh;
}



.list{
 margin-top: 20vh;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

a:hover{
<<<<<<< HEAD
  color:black;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.fadein{
  opacity: 0;
=======
  color:white;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: dashed;
>>>>>>> e19df173e0d227ed89b057e889c28a5d912fe763
}



/*img on hover b&w*/

    .thumbnailwrapper{
      height:40vh;
      width:70vw;
      overflow:hidden;
      cursor:pointer;
      margin-bottom: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .thumbnailwrapper img {
      width:100%;
      position: relative;
      /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
        -webkit-transition: all .5s ease-in-out;
    }

    .thumbnailwrapper img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }


/*img on hover crossfade

    #cf {
      position:relative;
      height:500px;
      width:900px;
      overflow:hidden;
      cursor:pointer;
    }

    #cf img.top {
      opacity:0;
      transform: scale(1);
    }
    #cf img.bottom {
      opacity:1;
      transform: scale(1);
    }
    #cf:hover img.top {
      opacity:1;
      transform: scale(1);
    }
    #cf:hover img.bottom {
      opacity:0;
      transform: scale(1);
    }


    #cf img {
      position:absolute;
      -webkit-transition: opacity .4s ease-in;
      -moz-transition: opacity .4s ease-in;
      -o-transition: opacity .4s ease-in;
      transition: all .4s ease-in;
    }


    */
